<mat-toolbar class="topbar topbar-xl m-auto">
  <div class="container full-width p-xs-6 justify-content-between">
    <div class="branding p-x-0">
      <app-branding [fullLogoMaxWidth]="'180px'"></app-branding>
    </div>

    <!-- <div class="d-none d-lg-flex" id="menu-links">
      <a
        mat-button
        class="f-s-16 f-w-500"
        [routerLink]="['/landingpage/products']"
        >Products</a
      >

      <div 
        class="d-flex align-items-center gap-0" 
        style="color: #818181"
      >
        <a mat-button class="f-s-16 f-w-500 industry-button">
          <span
            [routerLink]="['/landingpage/industry']"
            class="button-content"
          >
            Industry
          </span>
          <i-tabler name="chevron-down" class="icon-20 aligned-icon" [matMenuTriggerFor]="appsmenu"></i-tabler>
        </a>
      </div>
      <mat-menu
        #appsmenu="matMenu"
        class="apps-dd cardWithShadow"
        xPosition="after"
      >
        <div class="row justify-content-center">
          <div class="col-sm-10">
            <div class="p-32 p-b-0">
              <div class="row">
                @for(appdd of apps; track appdd.link) {
                <div class="col-sm-6 text-hover-primary">
                  <a
                    [routerLink]="[appdd.link]"
                    class="d-flex align-items-center text-decoration-none m-b-24"
                  >
                    <button
                      mat-mini-fab
                      class="text-primary bg-light-primary shadow-none rounded"
                    >
                      <img [src]="appdd.img" width="20" />
                    </button>
                    <div class="m-l-16">
                      <h5 class="f-s-14 f-w-600 m-0 textprimary hover-text">
                        {{ appdd.title }}
                      </h5>
                      <span class="text-body f-s-12">{{ appdd.subtitle }}</span>
                    </div>
                  </a>
                </div>
                }
              </div>
            </div>
          </div>
        </div>
      </mat-menu>
      <a
        mat-button
        class="f-s-16 f-w-500"
        [routerLink]="['/landingpage/pricing']"
        >Pricing</a
      >
      <a
        mat-button
        class="f-s-16 f-w-500"
        [routerLink]="['/landingpage/why-us']"
        >Why us</a
      >
    </div> -->

    <div class="d-flex align-items-center gap-10">
      <app-button id="login-button" text="Login" variant="ghost" size="small" [routerLink]="['/authentication/login']"></app-button>
      <app-button id="get-started-button" text="Get Started" variant="filled" size="small" [routerLink]="['/authentication/side-register']"></app-button>

      <!-- Mobile Menu -->
      <button
        mat-icon-button
        (click)="filterNavRight?.toggle()"
        class="d-flex d-lg-none"
      >
        <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
      </button>
    </div>
  </div>
</mat-toolbar>
