#logo {
    width: 40%;
    max-width: 750px;
    margin-bottom: 2rem;
}
.flex-column {
    flex-direction: column;
}
h1 {
    font-size: 32px;
    color: #818181;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
h2 {
    color: #818181;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.highlight-green {
    color: #9cb764;
}

@media screen and (max-width: 768px) {
    #logo {
        width: 80%;
    }
}

#introduction-video {
    height: 500px;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 20px;
}

.button-toggle-group {
    border: none;

    mat-button-toggle {
        background: white;
        color: #333;
        border: 1px solid #ccc;
        margin-right: 1rem;
        border-radius: 50px;

        &.mat-button-toggle-checked {
            background-color: #9cb764;
            color: white;
        }
    }
}