<div class="row">
  <div class="col-12">
    <mat-card class="mat-card-top cardWithShadow p-16">
      <h4>
        Talent Match New
        <span class="f-s-14 f-w-400 d-block">
          Browse open positions and apply
        </span>
      </h4>
      <div class="m-t-16">
        <app-dynamic-table [columns]="tableColumns" [rows]="rows" [loading]="tableLoading"></app-dynamic-table>

			<ng-template #applyActionTemplate let-position>
				<button
					mat-raised-button
					color="primary"
          [disabled]="isPositionApplied(position)"
					(click)="applyForPosition(position)"
				>
          {{ isPositionApplied(position) ? 'Applied' : 'Apply for this position' }}
				</button>
			</ng-template>
      </div>
    </mat-card>
  </div>
</div>