<mat-sidenav-container class="mainWrapper" id="landingpage">
  <mat-sidenav-content>
    <!-- ------------------------------------------------------------------
    Header
    ------------------------------------------------------------------ -->
    <app-header [filterNavRight]="filterNavRight" class="landing-header"></app-header>

    <!-- ------------------------------------------------------------------
   End Header
    ------------------------------------------------------------------ -->

    <!-- ------------------------------------------------------------------
    Banner
    ------------------------------------------------------------------ -->
    <div class="overflow-hidden p-b-0" style="margin-top:140px">
      <div class="container">
        <div class="row justify-content-center h-100">
          <div class="col-12 text-center">
            <div class="d-flex flex-column justify-content-center align-items-start h-100">
              <h1 class="banner-title m-0 f-w-500 landingpage w-100">
                <b>Power</b> your law firm's <br /> operations with
                <br />
                <b><span class="underline">one</span> software</b>
              </h1>
              <p class="p-y-24 m-t-10 m-0 landingpage w-100">
                Remote legal staff made simple
              </p>
              <app-hero-button variant="filled" text="Start today for free" [fullWidth]="isMobileScreen"
                [routerLink]="['/authentication/side-register']" class="m-y-12 m-x-auto">
              </app-hero-button>
            </div>
          </div>
        </div>
        <!-- Invoices image -->
        <div class="">
          <div class="container" id="invoices-img" *ngIf="!isMobileScreen; else invoicesImgMobile">
          </div>
          <ng-template #invoicesImgMobile>
            <div class="container" id="invoices-img-mobile-1">
            </div>
            <div class="container" id="invoices-img-mobile-2">
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <!-- ------------------------------------------------------------------
    End Products & features tabs
    ------------------------------------------------------------------ -->

    <!-- ------------------------------------------------------------------
    Products & features tabs
    ------------------------------------------------------------------ -->

    <div class="overflow-hidden" style="margin-top:30px">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label style="width: 50px;" class="tab-label">
            <svg class="tab-icon" xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px"
              fill="#1A1B1F">
              <path
                d="M331-651 211-771l57-57 120 120-57 57Zm149-95v-170h80v170h-80Zm291 535L651-331l57-57 120 120-57 57Zm-63-440-57-57 120-120 57 57-120 120Zm38 171v-80h170v80H746ZM205-92 92-205q-12-12-12-28t12-28l363-364q35-35 85-35t85 35q35 35 35 85t-35 85L261-92q-12 12-28 12t-28-12Zm279-335-14.5-14-14.5-14-14-14-14-14 28 28 29 28ZM233-176l251-251-57-56-250 250 56 57Z" />
            </svg>
            <p class="f-s-25 extra-bold">Features</p>
          </ng-template>

          <div class="container">
            <div class="features-row">
              <div class="feature-card green">
                <h3 class="feature-heading">Time tracking, Task boards & Performance reviews</h3>
                <img src="assets/images/landingpage/features/Features-01.svg" alt="Feature 1" />
              </div>
              <div class="feature-card gray">
                <h3 class="feature-heading">SOP Based Onboarding & Training</h3>
                <img src="assets/images/landingpage/features/Features-02.svg" alt="Feature 2" />
              </div>
              <div class="feature-card green">
                <h3 class="feature-heading">AI Matching (Olympia)</h3>
                <img src="assets/images/landingpage/features/Features-03.svg" alt="Feature 3" />
              </div>
              <div class="feature-card gray">
                <h3 class="feature-heading">IT Setup & Secure Support</h3>
                <img src="assets/images/landingpage/features/Features-04.svg" alt="Feature 4" />
              </div>
              <div class="feature-card white">
                <h3 class="feature-heading">Coworking office access in major LATAM cities</h3>
                <img src="assets/images/landingpage/features/Features-05.svg" alt="Feature 5" />
              </div>
              <div class="feature-card gray">
                <h3 class="feature-heading">Built-in payroll, Contracts & Compliance</h3>
                <img src="assets/images/landingpage/features/Features-06.svg" alt="Feature 6" />
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label style="width: 50px;" class="tab-label">
            <svg class="tab-icon" xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px"
              fill="#1A1B1F">
              <path
                d="M580-120q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35Zm0-80q17 0 28.5-11.5T620-240q0-17-11.5-28.5T580-280q-17 0-28.5 11.5T540-240q0 17 11.5 28.5T580-200Zm80-200q-92 0-156-64t-64-156q0-92 64-156t156-64q92 0 156 64t64 156q0 92-64 156t-156 64Zm0-80q59 0 99.5-40.5T800-620q0-59-40.5-99.5T660-760q-59 0-99.5 40.5T520-620q0 59 40.5 99.5T660-480ZM280-240q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-80q33 0 56.5-23.5T360-400q0-33-23.5-56.5T280-480q-33 0-56.5 23.5T200-400q0 33 23.5 56.5T280-320Zm300 80Zm80-380ZM280-400Z" />
            </svg>
            <p class="f-s-25 extra-bold">Products</p>
          </ng-template>

          <div class="container">
            <div class="features-row">
              <div class="feature-card gray">
                <h3 class="feature-heading">Legal compliance and payroll management</h3>
                <img src="assets/images/products/Products-01.svg " alt="Product 1" />
              </div>
              <div class="feature-card green">
                <h3 class="feature-heading">Real Human Supervision</h3>
                <img src="assets/images/products/Products-02.svg " alt="Product 2" />
              </div>
              <div class="feature-card gray">
                <h3 class="feature-heading">Seamless integration with Clio, Filevine & more</h3>
                <img src="assets/images/products/Products-03.svg" alt="Product 3" />
              </div>
              <div class="feature-card green">
                <h3 class="feature-heading">Productivity Tools
                </h3>
                <img src="assets/images/products/Products-04.svg" alt="Product 4" />
              </div>
              <div class="feature-card white">
                <h3 class="feature-heading">Remote IT onboarding & ongoing support</h3>
                <img src="assets/images/products/Products-05.svg" alt="Product 5" />
              </div>
              <div class="feature-card green">
                <h3 class="feature-heading">Bilingual, pre-vetted legal talent</h3>
                <img src="assets/images/products/Products-06.svg" alt="Product 6" />
              </div>
            </div>
          </div>

        </mat-tab>
      </mat-tab-group>

      <div class="gradient-transition lightgray-darkgray m-t-75"></div>
    </div>
    <!-- ------------------------------------------------------------------
    End Products & features tabs
    ------------------------------------------------------------------ -->

    <!-- Built for bussinesses -->
    <div class="spacer p-b-0 bg-dark-gray">
      <div class="container">
        <div class="row m-b-75">
          <div class="col-12 col-md-5 d-flex flex-column justify-content-center" id="business-section">
            <h2 class="f-w-700 text-white m-b-20 f-s-36 l-h-42 landingpage">
              Specially built for <br /> Law firms
            </h2>
            <p class="text-white m-b-40 l-h-26 landingpage">
              It brings together staffing, IT, HR, productivity tools, and payroll, all under one login. From hiring and
              onboardind compliance, inimble is the only tool a modern legal team needs.
            </p>
            <app-button text="TRY APP FOR FREE NOW!" [routerLink]="['/authentication/login']" variant="filled"
              size="large" class="gradient-btn"></app-button>
          </div>
          <div class="col-12 col-md-7">
            <div controls id="inimble-tablet">
              <video class="w-100 h-100" #inimbleVideo>
                <source [src]="inimbleVideoUrl" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
        </div>
      </div>

      <div class="gradient-transition darkgray-white"></div>
    </div>

    <!-- Why Inimble? Section -->
    <div class="spacer p-b-0 bg-white">
      <div class="container">
        <h2 class="text-center m-t-16 m-b-26 landingpage">
          Why companies choose inimble
        </h2>

        <div class="comparison-carousel">
          <div class="comparison-carousel-inner">
            <div class="comparison-carousel-item d-flex flex-column">
              <img src="{{ currentComparisonTable.img }}" alt="{{ currentComparisonTable.title }}" class="comparison-table-img" />
            </div>
          </div>

          <button class="carousel-control prev" (click)="prevSlide('comparison table')">
            <i-tabler name="chevron-left" class="icon-30"></i-tabler>
          </button>
          <button class="carousel-control next" (click)="nextSlide('comparison table')">
            <i-tabler name="chevron-right" class="icon-30"></i-tabler>
          </button>
        </div>
        
        <div class="text-center" id="comparison-tables-btn">
          <app-button text="GET STARTED" class="text-btn" variant="filled" size="large"
          [routerLink]="['/authentication/side-register']"></app-button>
        </div>
      </div>
      <div class="gradient-transition white-lightgray"></div>
    </div>

    <!-- Landing Page image -->
    <!-- <div class="spacer p-b-0 bg-light-gray">
      <div class="container" id="landingpage-img" *ngIf="!isMobileScreen; else landingpageImgMobile">
      </div>
      <ng-template #landingpageImgMobile>
        <div class="container" id="landingpage-img-mobile-1">
        </div>
        <div class="container" id="landingpage-img-mobile-2">
        </div>
      </ng-template>
    </div> -->

    <!-- Testimonials -->
    <div class="spacer p-b-0" style="background: #E5E7E9">
      <div class="container">
        <h2 class="m-b-40 text-center landingpage">
          Trusted by law firms nationwide
        </h2>

        <div class="testimonial-carousel">
          <div class="carousel-inner">
            @for (testimonial of getVisibleTestimonials(); track testimonial.id) {
            <div class="carousel-item d-flex flex-column">
              <div class="p-24 flex-grow-1 d-flex flex-column">
                <span class="quote-icon d-flex align-items-center justify-content-center rounded-circle">
                  <img src="assets/images/svgs/quote.svg" width="40" height="40" alt="Quote Icon" />
                </span>
                <p class="m-t-24 l-h-26 text-left flex-grow-1 landingpage">
                  {{ testimonial.text }}
                </p>
                <div class="d-flex flex-column align-items-end justify-content-end m-t-10 b-t-green">
                  <p class="extra-bold m-t-10 landingpage">
                    {{ testimonial.name }}
                  </p>
                  <p class="small landingpage">{{ testimonial.role }}</p>
                </div>
              </div>
            </div>
            }
          </div>

          <button class="carousel-control prev" (click)="prevSlide('testimonials')">
            <i-tabler name="chevron-left" class="icon-30"></i-tabler>
          </button>
          <button class="carousel-control next" (click)="nextSlide('testimonials')">
            <i-tabler name="chevron-right" class="icon-30"></i-tabler>
          </button>
        </div>
      </div>
    </div>

    <!-- Call to action -->
    <div class="spacer p-b-0" style="background: #E5E7E9">
      <div class="container p-t-30">
        <div class="row bg-green rounded p-32 position-relative">
          <div class="col-12 col-md-6 m-b-40">
            <h2 class="m-t-0 m-b-8 landingpage extra-bold f-s-36 l-h-42" style="line-height: 1.1">
              Want to know more? <br /> Don't be shy
            </h2>
            <span>Feel free to ask any questions below. We're here to help!</span>
          </div>
          <div class="col-12 col-md-6">
            <form class="d-flex flex-column" id="contact-form">
              <mat-form-field appearance="fill" class="w-100 white-bg-field">
                <mat-label>Your email</mat-label>
                <input matInput type="email" placeholder="Enter your email" />
              </mat-form-field>
              <mat-form-field appearance="fill" class="w-100 white-bg-field">
                <mat-label>Ask your questions here</mat-label>
                <textarea matInput rows="3" resize="none" placeholder="Type your question"></textarea>
              </mat-form-field>
              <div class="d-flex justify-content-end">
                <button mat-flat-button id="send-btn" [class]="isMobileScreen ? 'w-100 p-16' : ''"
                  type="submit">SEND</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Social Section -->
    <div class="p-t-16" style="background: #E5E7E9">
      <div class="container text-center gap-30 d-flex justify-content-center flex-wrap">
        <p class="extra-bold l-h-36 landingpage big">Let's get social</p>
        <div class="social-icons d-flex justify-content-center gap-20">
          <a href="https://www.linkedin.com/company/inimble/" target="_blank" aria-label="LinkedIn">
            <i-tabler name="brand-linkedin" class="icon-34"></i-tabler>
          </a>
          <a href="https://www.facebook.com/inimble/" target="_blank" aria-label="Facebook">
            <i-tabler name="brand-facebook" class="icon-34"></i-tabler>
          </a>
          <a href="https://www.tiktok.com/@inimbleteam" target="_blank" aria-label="TikTok">
            <i-tabler name="brand-tiktok" class="icon-34"></i-tabler>
          </a>
          <a href="https://www.instagram.com/inimbleteam/" target="_blank" aria-label="Instagram">
            <i-tabler name="brand-instagram" class="icon-34"></i-tabler>
          </a>
          <a href="https://www.youtube.com/@inimbleTeam" target="_blank" aria-label="YouTube">
            <i-tabler name="brand-youtube" class="icon-34"></i-tabler>
          </a>
        </div>
      </div>

      <div class="gradient-transition lightgray-darkgray m-t-40"></div>
    </div>

    <!-- ------------------------------------------------------------
     footer
    ------------------------------------------------------------ -->

    <app-footer></app-footer>

    <!-- ------------------------------------------------------------------
    end footer
    ------------------------------------------------------------------ -->
  </mat-sidenav-content>

  <!-- ------------------------------------------------------------------
    Mobile Sidebar
    ------------------------------------------------------------------ -->
  <mat-sidenav #filterNavRight mode="over" position="end" class="filter-sidebar">
    <div>
      <div class="branding">
        <app-branding></app-branding>
      </div>

      <!-- <mat-accordion>
        <mat-expansion-panel class="shadow-none">
          <mat-expansion-panel-header>
            <mat-panel-title class="f-s-16 f-w-500"> Pages </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <div class="row">
              @for(appdd of apps; track appdd.title) {
              <div class="col-12 text-hover-primary">
                <a
                  [routerLink]="[appdd.link]"
                  class="d-flex align-items-center text-decoration-none m-b-24"
                >
                  <button
                    mat-mini-fab
                    class="text-primary bg-light-primary shadow-none rounded"
                  >
                    <img [src]="appdd.img" width="20" />
                  </button>

                  <div class="m-l-16">
                    <h5
                      class="f-s-14 f-w-600 m-0 textprimary mat-body-1 hover-text"
                    >
                      {{ appdd.title }}
                    </h5>
                    <span class="mat-body-1 f-s-12">{{ appdd.subtitle }}</span>
                  </div>
                </a>
              </div>
              }
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion> -->

      <div class="p-x-16">
        <app-button [fullWidth]="true" class="m-t-16 w-100" text="Login" variant="ghost" size="small"
          [routerLink]="['/authentication/login']"></app-button>
        <app-button [fullWidth]="true" class="m-t-16 w-100" text="Get Started" variant="filled" size="small"
          [routerLink]="['/authentication/side-register']"></app-button>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>