<footer
  class="footer text-white p-y-30"
  style="background: #454545; padding: 50px 0 0 0"
>
  <div class="container">
    <div class="row d-flex justify-content-between align-items-center">
      <div id="footer-logo" class="col-md-4 p-x-40 mb-4 mb-lg-0 d-flex flex-column align-items-end flex-grow-1">
        <img
          src="assets/images/inimble_white.png"
          width="296"
          alt="Inimble Logo"
        />
        <p class="footer-description text-right f-s-14">
          Remote work software for legal firms
        </p>
      </div>
      <div id="footer-contact" class="col-md-4 p-x-40 mb-4 mb-lg-0 text-center d-flex flex-column align-items-start flex-grow-1">
        <h3 style="margin-bottom: 20px">Contact Info</h3> 
        <ul class="list-unstyled p-0 m-0 d-flex flex-column align-items-start" style="list-style: none; padding: 0">
          <li>
            <i-tabler name="phone" class="icon-16"></i-tabler> +1 (706) 478-5677
          </li>
          <li>
            <i-tabler name="mail" class="icon-16"></i-tabler>
            info&#64;i-nimble.com
          </li>
          <li>
            <i-tabler name="map-pin" class="icon-16"></i-tabler>
            530 Highland Station Dr STE 2004, Suwanee, GA 30024
          </li>
        </ul>
      </div>
      <div class="col-md-4 p-x-40 d-flex flex-column align-items-center text-lg-right flex-grow-1">
        <app-button
          text="Call Us Now"
          variant="filled"
          size="medium"
          [fullWidth]="true"
          style="margin-bottom: 20px"
          class="text-btn"
        >
        </app-button>
        <app-button 
          text="Try Inimble for free" 
          variant="filled" 
          size="medium"
          [routerLink]="['/authentication/login']"
          [fullWidth]="true"
          style="margin-bottom: 20px"
          class="text-btn"
        >
        </app-button>
         <div class="footer-icons d-flex justify-content-center align-items-center text-white gap-10">
          <a
            href="https://www.linkedin.com/company/inimble/"
            target="_blank"
            aria-label="LinkedIn"
          >
            <i-tabler
              name="brand-linkedin"
              class="icon-32"
            ></i-tabler>
          </a>
          <a
            href="https://www.facebook.com/inimble/"
            target="_blank"
            aria-label="Facebook"
          >
            <i-tabler
              name="brand-facebook"
              class="icon-32"
            ></i-tabler>
          </a>
          <a
            href="https://www.tiktok.com/@inimbleteam"
            target="_blank"
            aria-label="TikTok"
          >
            <i-tabler name="brand-tiktok" class="icon-32"></i-tabler>
          </a>
          <a
            href="https://www.instagram.com/inimbleteam/"
            target="_blank"
            aria-label="Instagram"
          >
            <i-tabler
              name="brand-instagram"
              class="icon-32"
            ></i-tabler>
          </a>
          <a
            href="https://www.youtube.com/@inimbleTeam"
            target="_blank"
            aria-label="YouTube"
          >
            <i-tabler name="brand-youtube" class="icon-32"></i-tabler>
          </a>          
        </div>
      </div>
    </div>
  </div>
</footer>
<div
  style="
    background: #454545;
    border-top: 1px solid #808080; 
    color: #fff;
    padding: 6px 0;
    width: 100%;
    overflow: hidden;
    z-index: 1000;
    bottom: 0;
  "
>
  <div class="container">
    <div class="text-center m-t-20 m-b-20 copyright">
      <p class="m-0">I-Nimble © 2025 - Privacy Policy</p>
    </div>
  </div>
</div>
