<div class="blank-layout-container justify-content-center">
  <div class="auth-wrapper">
    <div class="register-container position-relative">
      <span class="d-block f-w-500 d-block f-s-14 m-t-24 m-x-16">
        <a
          [routerLink]="['/landingpage']"
          class="text-decoration-none text-primary f-w-500 f-s-14"
        >
          Home</a
        >
      </span>
      <div
        class="w-100 position-relative rounded bg-white auth-card m-x-16 m-t-12"
      >
        <div class="auth-body h-100 p-0">
          <div class="row g-0 h-100">
            <div class="col-lg-6 position-relative auth-bg-container">
              <div
                class="auth-bg-image"
                [style.background-image]="'url(' + assetPath + ')'"
              ></div>
            </div>
            <div class="col-lg-6 col-12 auth-info">
              <div
                class="d-flex align-items-start align-items-lg-center justify-content-center"
              >
                <div
                  class="d-flex justify-content-center align-items-start form-container m-t-24"
                  style="width: 100%"
                >
                  <div class="col-lg-11">
                    <h4 class="f-w-700 f-s-30 lh-base m-0 m-t-32">
                      Welcome to Inimble
                    </h4>
                    <span class="f-s-14 d-block mat-body-1 m-t-8"
                      >Your all in one platform to manage your team</span
                    >

                    <div
                      *ngIf="
                        !isRegisterFormVisible && !isImportantInformationVisible
                      "
                    >
                      <button
                        mat-stroked-button
                        class="w-100 m-t-45"
                        (click)="showRegisterForm('3')"
                      >
                        Client Registration
                      </button>

                      <p class="text-center m-t-16 m-b-16">or</p>

                      <!--                       <button mat-stroked-button class="w-100 m-b-45" (click)="showImportantInformation()">
                        Apply for a Career Opportunity
                      </button> -->
                      <button
                        mat-stroked-button
                        class="w-100 m-b-45"
                        (click)="showRegisterForm('2')"
                      >
                        Apply for a Career Opportunity
                      </button>
                    </div>

                    <!--                     <div *ngIf="!isRegisterFormVisible && isImportantInformationVisible">
                      <h4 class="f-w-700 f-s-26 lh-base m-0 m-t-32">IMPORTANT INFORMATION</h4>
                      <p class="m-t-16 m-b-16">
                        <b>INIMBLE</b> is an outsourcing company specialized in providing talented and skilled professionals in administrative and technological areas. We adapt to the specific needs of each client, offering customized solutions tailored to their requirements. We began operations in the <b>United States (Atlanta, Georgia)</b> several years ago, and we currently have offices in <b>Venezuela (Maracaibo, Maracay, Caracas, Barquisimeto and Valencia)</b> and <b>Colombia (Medellin)</b> 🚀
                      </p>
                      <p class="m-t-16 m-b-16">
                        Our work approach is <b>100% on-site during the initial stages</b>, which is why we provide the workplace and the necessary electronic equipment to perform tasks, such as laptops, mice, headsets, and more.
                      </p>
                      <p class="m-t-16 m-b-16">
                        The position we are offering, in general terms, is that of a Virtual Assistant, and the required competencies for this role include:
                      </p>
                      <ul>
                        <li>Proficiency in the English language</li>
                        <li>Problem-solving skills</li>
                        <li>Proactive attitude</li>
                        <li>Familiarity with technological tools</li>
                        <li>High adaptability and versatility</li>
                        <li>Ability to work as part of a team</li>
                      </ul>
                      <p class="m-t-16 m-b-16">
                        We currently operate exclusively in the <b>U.S. Pacific Time Zone</b>, which means the working hours are approximately <b>11:30 a.m. or 12:00 p.m. to 8:00 p.m., Monday through Friday.</b>
                      </p>
                      <p class="m-t-16 m-b-16">
                        📝 Once you complete and submit the application form, you will need to wait for our Human Resources team to review your submission. <b>Please note that the time it takes for HR to review applications may vary depending on the number of applicants we are processing at the moment.</b> If you meet all the requirements, you will be contacted via WhatsApp to continue the process. If not, it means you were not pre-selected for the next stage.
                      </p>
                      <p class="m-t-16 m-b-16">
                        💰 Payments are made <b>biweekly via Binance.</b>
                      </p>
                      <p class="m-t-16 m-b-16">
                        🟢 <b>Benefits will be discussed directly once</b> the candidate has been selected to join Inimble.
                      </p>
                      <p class="m-t-16 m-b-16">
                        <b>Inimble Work Smart</b> 💚
                      </p>
                      <button mat-flat-button color="primary" class="w-100" (click)="showRegisterForm('2')">
                        Start
                      </button>
                    </div> -->

                    <div *ngIf="isRegisterFormVisible">
                      <!-- Sign up with Google -->
                      <div class="row m-t-24">
                        <div class="col-12 col-sm-12">
                          <!-- <button mat-stroked-button class="w-100 m-b-4" (click)="googleSignUp()">
                            <div class="d-flex align-items-center">
                              <img
                                src="/assets/images/svgs/google-icon.svg"
                                alt="google"
                                width="16"
                                class="m-r-8"
                              />
                              Sign up with Google
                            </div>
                          </button> -->
                        </div>
                      </div>

                      <!-- <div class="or-border m-t-30">or sign up as a {{userRole === '3' ? 'client' : 'team member'}} with</div> -->

                      <!-- Client registration form -->
                      <mat-stepper
                        #clientStepper
                        id="register-form"
                        *ngIf="userRole === '3'"
                        (selectionChange)="onClientStepChange($event)"
                      >
                        <mat-step [stepControl]="registerClientForm">
                          <div
                            class="d-flex justify-content-center align-items-start form-container m-t-24"
                          >
                            <form [formGroup]="registerClientForm">
                              <h2 class="text-center m-b-24 label-title">
                                What is your email address?
                              </h2>
                              <mat-form-field
                                appearance="outline"
                                class="w-100"
                              >
                                <input
                                  matInput
                                  formControlName="email"
                                  required
                                  type="email"
                                  placeholder="email@example.com"
                                />
                                <mat-error
                                  class="text-danger f-s-12 m-t-0"
                                  *ngIf="
                                    (registerClientForm
                                      .get('email')
                                      ?.hasError('email') ||
                                      registerClientForm
                                        .get('email')
                                        ?.hasError('pattern')) &&
                                    registerClientForm.get('email')?.touched
                                  "
                                >
                                  Please enter a valid email address
                                </mat-error>
                                <mat-error
                                  class="text-danger f-s-12 m-t-0"
                                  *ngIf="
                                    registerClientForm
                                      .get('email')
                                      ?.hasError('emailTaken') &&
                                    registerClientForm.get('email')?.touched
                                  "
                                >
                                  Email is already taken
                                </mat-error>
                                <mat-error
                                  class="text-danger f-s-12 m-t-0"
                                  *ngIf="
                                    registerClientForm
                                      .get('email')
                                      ?.hasError('required') &&
                                    registerClientForm.get('email')?.touched
                                  "
                                >
                                  Email is required
                                </mat-error>
                              </mat-form-field>

                              <button
                                class="w-100"
                                mat-flat-button
                                matStepperNext
                                [disabled]="
                                  !registerClientForm.get('email')?.valid
                                "
                              >
                                Next
                              </button>
                            </form>
                          </div>
                        </mat-step>
                        <mat-step [stepControl]="registerClientForm">
                          <div
                            class="d-flex justify-content-center align-items-start form-container m-t-24"
                          >
                            <form [formGroup]="registerClientForm">
                              <h2 class="text-center m-b-24 label-title">
                                Enter your full name
                              </h2>
                              <mat-form-field
                                appearance="outline"
                                class="w-100"
                              >
                                <input
                                  matInput
                                  formControlName="name"
                                  required
                                  type="text"
                                  placeholder="First name"
                                />
                                <mat-error
                                  class="text-danger f-s-12 m-t-0"
                                  *ngIf="
                                    registerClientForm
                                      .get('name')
                                      ?.hasError('required') &&
                                    registerClientForm.get('name')?.touched
                                  "
                                >
                                  First name is required
                                </mat-error>
                              </mat-form-field>
                              <mat-form-field
                                appearance="outline"
                                class="w-100"
                              >
                                <input
                                  matInput
                                  formControlName="last_name"
                                  required
                                  type="text"
                                  placeholder="Last name"
                                />
                                <mat-error
                                  class="text-danger f-s-12 m-t-0"
                                  *ngIf="
                                    registerClientForm
                                      .get('last_name')
                                      ?.hasError('required') &&
                                    registerClientForm.get('last_name')?.touched
                                  "
                                >
                                  Last name is required
                                </mat-error>
                              </mat-form-field>

                              <button
                                class="w-100"
                                mat-flat-button
                                matStepperNext
                                [disabled]="
                                  !registerClientForm.get('name')?.valid ||
                                  !registerClientForm.get('last_name')?.valid
                                "
                              >
                                Next
                              </button>
                            </form>
                          </div>
                        </mat-step>
                        <mat-step [stepControl]="registerClientForm">
                          <div
                            class="d-flex justify-content-center align-items-start form-container m-t-24"
                          >
                            <form
                              class="m-t-24"
                              [formGroup]="registerClientForm"
                            >
                              <h2 class="text-center m-b-24 label-title">
                                Enter your company name
                              </h2>
                              <mat-form-field
                                appearance="outline"
                                class="w-100"
                              >
                                <input
                                  matInput
                                  formControlName="company_name"
                                  required
                                  type="text"
                                  placeholder="Company name"
                                />
                                <mat-error
                                  class="text-danger f-s-12 m-t-0"
                                  *ngIf="
                                    registerClientForm
                                      .get('company_name')
                                      ?.hasError('required') &&
                                    registerClientForm.get('company_name')
                                      ?.touched
                                  "
                                >
                                  Company name is required
                                </mat-error>
                                <mat-error
                                  class="text-danger f-s-12 m-t-0"
                                  *ngIf="
                                    registerClientForm
                                      .get('company_name')
                                      ?.hasError('companyExists') &&
                                    registerClientForm.get('company_name')
                                      ?.touched
                                  "
                                >
                                  Company already exists
                                </mat-error>
                              </mat-form-field>

                              <button
                                class="w-100"
                                mat-flat-button
                                matStepperNext
                                [disabled]="
                                  !registerClientForm.get('company_name')?.valid
                                "
                              >
                                Next
                              </button>
                            </form>
                          </div>
                        </mat-step>
                        <mat-step [stepControl]="registerClientForm">
                          <div
                            class="d-flex justify-content-center align-items-start form-container m-t-24"
                          >
                            <form
                              class="m-t-24"
                              [formGroup]="registerClientForm"
                            >
                              <h2 class="text-center m-b-10 label-title">
                                Departments
                              </h2>
                              <p class="text-center m-b-24 label-subtitle">
                                (This field is optional)
                              </p>
                              <div
                                class="d-flex flex-wrap gap-8 justify-content-center m-b-16"
                              >
                                <button
                                  mat-stroked-button
                                  [ngClass]="
                                    selectedDepartments.includes(dept)
                                      ? 'primary'
                                      : 'disabled'
                                  "
                                  *ngFor="let dept of departmentsOptions"
                                  (click)="
                                    toggleDepartment(dept);
                                    $event.preventDefault()
                                  "
                                >
                                  {{ dept?.name }}
                                </button>
                              </div>
                              <mat-form-field
                                *ngIf="hasOtherDepartment()"
                                appearance="outline"
                                class="w-100"
                              >
                                <mat-label>Other Department</mat-label>
                                <input
                                  matInput
                                  formControlName="otherDepartment"
                                  type="text"
                                />
                                <mat-error
                                  class="text-danger f-s-12 m-t-0"
                                  *ngIf="
                                    registerClientForm
                                      .get('otherDepartment')
                                      ?.hasError('required')
                                  "
                                >
                                  Please specify the other department
                                </mat-error>
                              </mat-form-field>
                              <button
                                class="w-100"
                                mat-flat-button
                                matStepperNext
                              >
                                Next
                              </button>
                            </form>
                          </div>
                        </mat-step>
                        <mat-step [stepControl]="registerClientForm">
                          <div
                            class="d-flex justify-content-center align-items-start form-container m-t-24"
                          >
                            <form
                              class="m-t-24 col-12"
                              [formGroup]="registerClientForm"
                            >
                              <h2 class="text-center m-b-10 label-title">
                                Enter your phone number
                              </h2>
                              <p class="text-center m-b-24 label-subtitle">
                                (This field is optional)
                              </p>
                              <mat-form-field
                                appearance="outline"
                                class="w-100"
                              >
                                <input
                                  matInput
                                  formControlName="phone"
                                  type="tel"
                                  placeholder="11234567890"
                                  (keypress)="restrictPhoneInput($event)"
                                />
                                <mat-error
                                  class="text-danger f-s-12 m-t-0"
                                  *ngIf="
                                    (registerClientForm.get('phone')?.errors?.['pattern'] ||
                                    registerClientForm.get('phone')?.errors?.['maxlength'] ||
                                    registerClientForm.get('phone')?.errors?.['minlength']) &&
                                    registerClientForm.get('phone')?.value &&
                                    registerClientForm.get('phone')?.touched
                                  "
                                >
                                  Invalid format (e.g., 11234567890)
                                </mat-error>
                              </mat-form-field>

                              <button
                                class="w-100"
                                mat-flat-button
                                matStepperNext
                              >
                                Next
                              </button>
                            </form>
                          </div>
                        </mat-step>
                        <mat-step [stepControl]="registerClientForm">
                          <div
                            class="d-flex justify-content-center align-items-start form-container m-t-24"
                          >
                            <form
                              class="m-t-24"
                              [formGroup]="registerClientForm"
                            >
                              <h2 class="text-center m-b-24 label-title">
                                Enter your password
                              </h2>
                              <mat-form-field
                                appearance="outline"
                                class="w-100"
                              >
                                <input
                                  matInput
                                  formControlName="password"
                                  required
                                  type="password"
                                  placeholder="Password"
                                />
                                <mat-error
                                  class="text-danger f-s-12 m-t-0"
                                  *ngIf="
                                    registerClientForm
                                      .get('password')
                                      ?.hasError('required') &&
                                    registerClientForm.get('password')?.touched
                                  "
                                >
                                  Password is required
                                </mat-error>
                                <mat-error
                                  class="text-danger f-s-12 m-t-0"
                                  *ngIf="
                                    registerClientForm
                                      .get('password')
                                      ?.hasError('minlength') &&
                                    registerClientForm.get('password')?.touched
                                  "
                                >
                                  Password must be at least 8 characters
                                </mat-error>
                              </mat-form-field>

                              <button
                                class="w-100"
                                mat-flat-button
                                matStepperNext
                                [disabled]="!registerClientForm.valid"
                              >
                                Next
                              </button>
                            </form>
                          </div>
                        </mat-step>
                        <!-- Payment step -->
                        <mat-step>
                          <div
                            class="d-flex justify-content-center align-items-start form-container m-t-24"
                          >
                            <div class="m-t-24 col-12">
                              <h2 class="text-center m-b-16 label-title">
                                Start your free trial
                              </h2>
                              <p class="text-center m-b-24 f-s-14 mat-body-1">
                                Start your 30-day free trial today. Add your credit card and
                                pay nothing for the first 30 days. Then just $17.99/month.
                              </p>
                              <div
                                *ngIf="isPaymentStepLoading"
                                class="text-center p-y-24"
                              >
                                <mat-spinner diameter="36" class="m-x-auto"></mat-spinner>
                                <p class="m-t-12 mat-body-1">
                                  Loading payment form...
                                </p>
                              </div>
                              <div
                                *ngIf="paymentStepError && !isPaymentStepLoading"
                                class="text-danger f-s-13 m-b-16 text-center"
                              >
                                {{ paymentStepError }}
                              </div>
                              <div
                                id="registration-payment-element"
                                [class.d-none]="isPaymentStepLoading"
                                class="m-b-24"
                              ></div>
                              <button
                                class="w-100"
                                mat-flat-button
                                (click)="submit()"
                                [disabled]="
                                  isPaymentStepLoading ||
                                  isPaymentProcessing ||
                                  !!paymentStepError
                                "
                              >
                                <span *ngIf="!isPaymentProcessing">
                                  Start Free Trial
                                </span>
                                <span *ngIf="isPaymentProcessing">
                                  Processing...
                                </span>
                              </button>
                            </div>
                          </div>
                        </mat-step>
                      </mat-stepper>

                      <!-- Invited Team Member registration form -->
                      <mat-stepper
                        #stepper
                        id="register-form"
                        *ngIf="userRole === '2' && hasInvitation"
                      >
                        <mat-step [stepControl]="registerInvitedTeamMemberForm">
                          <div
                            class="d-flex justify-content-center align-items-start form-container m-t-24"
                          >
                            <form [formGroup]="registerInvitedTeamMemberForm">
                              <h2 class="text-center m-b-24 label-title">
                                What is your email address?
                              </h2>
                              <mat-form-field
                                appearance="outline"
                                class="w-100"
                              >
                                <input
                                  matInput
                                  formControlName="email"
                                  required
                                  type="email"
                                  placeholder="email@example.com"
                                />
                                <mat-error
                                  class="text-danger f-s-12 m-t-0"
                                  *ngIf="
                                    registerInvitedTeamMemberForm
                                      .get('email')
                                      ?.hasError('required') &&
                                    registerInvitedTeamMemberForm.get('email')
                                      ?.touched
                                  "
                                >
                                  Email is required
                                </mat-error>
                                <mat-error
                                  class="text-danger f-s-12 m-t-0"
                                  *ngIf="
                                    (registerInvitedTeamMemberForm
                                      .get('email')
                                      ?.hasError('email') ||
                                      registerInvitedTeamMemberForm
                                        .get('email')
                                        ?.hasError('pattern')) &&
                                    registerInvitedTeamMemberForm.get('email')
                                      ?.touched
                                  "
                                >
                                  Please enter a valid email address
                                </mat-error>
                                <mat-error
                                  class="text-danger f-s-12 m-t-0"
                                  *ngIf="
                                    registerInvitedTeamMemberForm
                                      .get('email')
                                      ?.hasError('emailTaken') &&
                                    registerInvitedTeamMemberForm.get('email')
                                      ?.touched
                                  "
                                >
                                  Email is already taken
                                </mat-error>
                              </mat-form-field>

                              <button
                                class="w-100"
                                mat-flat-button
                                matStepperNext
                                [disabled]="
                                  !registerInvitedTeamMemberForm.get('email')
                                    ?.valid
                                "
                              >
                                Next
                              </button>
                            </form>
                          </div>
                        </mat-step>
                        <mat-step [stepControl]="registerInvitedTeamMemberForm">
                          <div
                            class="d-flex justify-content-center align-items-start form-container m-t-24"
                          >
                            <form [formGroup]="registerInvitedTeamMemberForm">
                              <h2 class="text-center m-b-24 label-title">
                                Enter your full name
                              </h2>
                              <mat-form-field
                                appearance="outline"
                                class="w-100"
                              >
                                <input
                                  matInput
                                  formControlName="name"
                                  required
                                  type="text"
                                  placeholder="First name"
                                />
                                <mat-error
                                  class="text-danger f-s-12 m-t-0"
                                  *ngIf="
                                    registerInvitedTeamMemberForm
                                      .get('name')
                                      ?.hasError('required') &&
                                    registerInvitedTeamMemberForm.get('name')
                                      ?.touched
                                  "
                                >
                                  First name is required
                                </mat-error>
                              </mat-form-field>
                              <mat-form-field
                                appearance="outline"
                                class="w-100"
                              >
                                <input
                                  matInput
                                  formControlName="last_name"
                                  required
                                  type="text"
                                  placeholder="Last name"
                                />
                                <mat-error
                                  class="text-danger f-s-12 m-t-0"
                                  *ngIf="
                                    registerInvitedTeamMemberForm
                                      .get('last_name')
                                      ?.hasError('required') &&
                                    registerInvitedTeamMemberForm.get(
                                      'last_name'
                                    )?.touched
                                  "
                                >
                                  Last name is required
                                </mat-error>
                              </mat-form-field>

                              <button
                                class="w-100"
                                mat-flat-button
                                matStepperNext
                                [disabled]="
                                  !registerInvitedTeamMemberForm.get('name')
                                    ?.valid ||
                                  !registerInvitedTeamMemberForm.get(
                                    'last_name'
                                  )?.valid
                                "
                              >
                                Next
                              </button>
                            </form>
                          </div>
                        </mat-step>
                        <mat-step [stepControl]="registerInvitedTeamMemberForm">
                          <div
                            class="d-flex justify-content-center align-items-start form-container m-t-24"
                          >
                            <form
                              class="m-t-24"
                              [formGroup]="registerInvitedTeamMemberForm"
                            >
                              <h2 class="text-center m-b-24 label-title">
                                Company
                              </h2>
                              <mat-form-field
                                appearance="outline"
                                class="w-100"
                              >
                                <input
                                  matInput
                                  [value]="getCompanyName"
                                  required
                                  type="text"
                                  readonly
                                />
                                <mat-error
                                  class="text-danger f-s-12 m-t-0"
                                  *ngIf="
                                    registerInvitedTeamMemberForm
                                      .get('company')
                                      ?.hasError('required') &&
                                    registerInvitedTeamMemberForm.get('company')
                                      ?.touched
                                  "
                                >
                                  Company is required
                                </mat-error>
                              </mat-form-field>

                              <button
                                class="w-100"
                                mat-flat-button
                                matStepperNext
                                [disabled]="
                                  !registerInvitedTeamMemberForm.get('company')
                                    ?.valid
                                "
                              >
                                Next
                              </button>
                            </form>
                          </div>
                        </mat-step>

                        <mat-step [stepControl]="registerInvitedTeamMemberForm">
                          <div
                            class="d-flex justify-content-center align-items-start form-container m-t-24"
                          >
                            <form
                              class="m-t-24"
                              [formGroup]="registerInvitedTeamMemberForm"
                            >
                              <h2 class="text-center m-b-24 label-title">
                                Select your position
                              </h2>
                              <mat-form-field
                                appearance="outline"
                                class="w-100"
                              >
                                <mat-select formControlName="position" required>
                                  <mat-option
                                    *ngFor="let position of positions"
                                    [value]="position.id"
                                  >
                                    {{ position.title }}
                                  </mat-option>
                                </mat-select>
                                <mat-error
                                  class="text-danger f-s-12 m-t-0"
                                  *ngIf="
                                    registerInvitedTeamMemberForm
                                      .get('position')
                                      ?.hasError('required') &&
                                    registerInvitedTeamMemberForm.get(
                                      'position'
                                    )?.touched
                                  "
                                >
                                  Position is required
                                </mat-error>
                              </mat-form-field>

                              <button
                                class="w-100"
                                mat-flat-button
                                matStepperNext
                                [disabled]="
                                  !registerInvitedTeamMemberForm.get('position')
                                    ?.valid
                                "
                              >
                                Next
                              </button>
                            </form>
                          </div>
                        </mat-step>

                        <mat-step [stepControl]="registerInvitedTeamMemberForm">
                          <div
                            class="d-flex justify-content-center align-items-start form-container m-t-24"
                          >
                            <form
                              class="m-t-24"
                              [formGroup]="registerInvitedTeamMemberForm"
                            >
                              <h2 class="text-center m-b-24 label-title">
                                Enter your password
                              </h2>
                              <mat-form-field
                                appearance="outline"
                                class="w-100"
                              >
                                <input
                                  matInput
                                  formControlName="password"
                                  required
                                  type="password"
                                />
                                <mat-error
                                  class="text-danger f-s-12 m-t-0"
                                  *ngIf="
                                    registerInvitedTeamMemberForm
                                      .get('password')
                                      ?.hasError('required') &&
                                    registerInvitedTeamMemberForm.get(
                                      'password'
                                    )?.touched
                                  "
                                >
                                  Password is required
                                </mat-error>
                                <mat-error
                                  class="text-danger f-s-12 m-t-0"
                                  *ngIf="
                                    registerInvitedTeamMemberForm
                                      .get('password')
                                      ?.hasError('minlength') &&
                                    registerInvitedTeamMemberForm.get(
                                      'password'
                                    )?.touched
                                  "
                                >
                                  Password must be at least 8 characters
                                </mat-error>
                              </mat-form-field>

                              <button
                                class="w-100"
                                mat-flat-button
                                (click)="submit()"
                                [disabled]="
                                  !registerInvitedTeamMemberForm.valid
                                "
                              >
                                Finish
                              </button>
                            </form>
                          </div>
                        </mat-step>
                      </mat-stepper>

                      <!-- Team Member registration form without invitation -->
                      <mat-stepper
                        #stepper
                        id="register-form"
                        *ngIf="userRole === '2' && !hasInvitation"
                      >
                        <!-- Step 1: Personal Information -->
                        <mat-step [stepControl]="registerTeamMemberForm">
                          <form [formGroup]="registerTeamMemberForm">
                            <mat-form-field appearance="outline" class="w-100">
                              <input
                                matInput
                                formControlName="name"
                                required
                                type="text"
                                placeholder="First name"
                              />
                              <mat-error
                                class="text-danger f-s-12 m-t-0"
                                *ngIf="
                                  registerTeamMemberForm
                                    .get('name')
                                    ?.hasError('required') &&
                                  registerTeamMemberForm.get('name')?.touched
                                "
                              >
                                First name is required
                              </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="w-100">
                              <input
                                matInput
                                formControlName="last_name"
                                required
                                type="text"
                                placeholder="Last name"
                              />
                              <mat-error
                                class="text-danger f-s-12 m-t-0"
                                *ngIf="
                                  registerTeamMemberForm
                                    .get('last_name')
                                    ?.hasError('required') &&
                                  registerTeamMemberForm.get('last_name')
                                    ?.touched
                                "
                              >
                                Last name is required
                              </mat-error>
                            </mat-form-field>

                            <button
                              mat-flat-button
                              color="primary"
                              class="w-100"
                              matStepperNext
                              [disabled]="
                                !registerTeamMemberForm.get('name')?.valid ||
                                !registerTeamMemberForm.get('last_name')?.valid
                              "
                            >
                              Next
                            </button>
                          </form>
                        </mat-step>

                        <mat-step [stepControl]="registerTeamMemberForm">
                          <form [formGroup]="registerTeamMemberForm">
                            <mat-form-field appearance="outline" class="w-100">
                              <mat-label>Email</mat-label>
                              <input
                                matInput
                                formControlName="email"
                                type="email"
                                required
                              />
                              <mat-error
                                class="text-danger f-s-12 m-t-0"
                                *ngIf="
                                  registerTeamMemberForm
                                    .get('email')
                                    ?.hasError('required') &&
                                  registerTeamMemberForm.get('email')?.touched
                                "
                              >
                                Email is required
                              </mat-error>
                              <mat-error
                                class="text-danger f-s-12 m-t-0"
                                *ngIf="
                                  (registerTeamMemberForm
                                    .get('email')
                                    ?.hasError('email') ||
                                    registerTeamMemberForm
                                      .get('email')
                                      ?.hasError('pattern')) &&
                                  registerTeamMemberForm.get('email')?.touched
                                "
                              >
                                Please enter a valid email address
                              </mat-error>
                              <mat-error
                                class="text-danger f-s-12 m-t-0"
                                *ngIf="
                                  registerTeamMemberForm
                                    .get('email')
                                    ?.hasError('emailTaken') &&
                                  registerTeamMemberForm.get('email')?.touched
                                "
                              >
                                Email is already taken
                              </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="w-100">
                              <mat-label>Password</mat-label>
                              <input
                                matInput
                                formControlName="password"
                                type="password"
                                required
                              />
                              <mat-error
                                class="text-danger f-s-12 m-t-0"
                                *ngIf="
                                  registerTeamMemberForm
                                    .get('password')
                                    ?.hasError('required') &&
                                  registerTeamMemberForm.get('password')
                                    ?.touched
                                "
                              >
                                Password is required
                              </mat-error>
                              <mat-error
                                class="text-danger f-s-12 m-t-0"
                                *ngIf="
                                  registerTeamMemberForm
                                    .get('password')
                                    ?.hasError('minlength') &&
                                  registerTeamMemberForm.get('password')
                                    ?.touched
                                "
                              >
                                Password must be at least 8 characters
                              </mat-error>
                            </mat-form-field>

                            <button
                              mat-flat-button
                              color="primary"
                              class="w-100 m-t-16"
                              (click)="submit()"
                              [disabled]="
                                !registerTeamMemberForm.get('email')?.valid ||
                                !registerTeamMemberForm.get('password')?.valid
                              "
                            >
                              Finish
                            </button>
                          </form>
                        </mat-step>
                      </mat-stepper>
                    </div>

                    <span class="d-block f-w-500 d-block m-t-24 m-b-32"
                      >Already have an Account?

                      <a
                        [routerLink]="['/authentication/login']"
                        class="text-decoration-none text-primary f-w-500 f-s-14"
                      >
                        Sign In</a
                      >
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
